body {
    margin: 0;
    background-color: rgba(16, 16, 12, 0.94);
    background-image: url('../../public/resources/images/background.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    color: rgb(195, 217, 236);
}

button {
    transition: transform 0.3s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}