.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.probs-data-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100%;
}

.prob-data-summery {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
    background: rgb(255, 176, 155);
    background: linear-gradient(90deg, rgba(255, 176, 155, 1) 14%, rgba(147, 255, 128, 1) 62%, rgba(61, 255, 202, 1) 100%);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    border-style: solid;
}

.prob-list-title {
    font-size: 25px;
}

.home-temperature-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.home-temperature-c {
    font-size: 17px;
    align-self: center;
}

.home-dest-temperature-c {
    font-size: 13px;
    align-self: center;
}

.home-dest-temperature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.prob-list-set-temperature-buttons {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}

.prob-list-set-temperature-buttons button {
    padding: 0;
    font-size: 20px;
    background: none;
    border: none;
    color: red;
}

.prob-list-set-temperature-buttons button:first-child {
    padding-left: 8px;
    padding-right: 10px;
}

.prob-list-set-temperature-buttons button:hover {
    font-size: 24px;
}

.prob-data-time-container {
    font-size: 20px;
}


@media (max-width: 480px) {
    .probs-data-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .prob-data-summery {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}