.home-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-self: center;
    margin-top: 5rem;
}

@media (max-width: 700px) {
    .home-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    .home-container {
        display: grid;
        align-items: center;
        margin-top: 1rem;
        grid-template-columns: auto;
    }
}