.login-container *,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.login-form {
    height: 650px;
    width: 550px;   
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 4rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    font-size: 4rem;
    line-height: 42px;
    text-align: center;
    font-style: italic;
    padding-bottom: 15%;
}

.login-label {
    display: block;
    margin-top: 30px;
    font-size: 1.3rem;
    padding-bottom: 2px;
}

.login-input {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 7px 6px;
    font-size: 1.8rem;
    font-weight: 400;
}

.login-button {
    margin-top: 10%;
    width: 100%;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 30px;
}

.login-social {
    margin-top: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.login-social button {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 10px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .login-form {
        height: 520px;
        width: 325px;
        padding: 25px 20px;
    }

    .login-container h1 {
        padding-bottom: 7%;
    }

    .login-button {
        margin-top: 1.5rem;
    }

    .login-social {
        margin-top: 5%;
    }

    .login-social button {
        font-size: 1.2rem;
    }
}