.prob-setting-container {
    width: 100%;
    animation-name: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    border-top: 2px rgb(106, 96, 96) solid;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.prob-setting-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.prob-setting {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prob-setting-set-temperature {
    display: flex;
    flex-direction: column;
}

.prob-setting-text {
    margin-right: 1rem;
    /* padding-bottom: 1rem; */
    margin-bottom: 1rem;
}

.prob-setting-themperature-buttons,
.prob-setting-timer-buttons {
    display: flex;
    flex-direction: row;
}

.prob-setting-themperature-buttons-current,
.prob-setting-timer-buttons-current {
    font-size: 1.7rem;
    width: 3rem;
    text-align: center;
}

.prob-setting-themperature-buttons button,
.prob-setting-timer-buttons button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid;
    color: rgb(206, 52, 52);
    font-size: 1.7rem;
    width: 2.5rem;
    height: 100%;
    background:none;
    border: none;
    font-weight: 900;
}